### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*synctex.gz

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vscode temp files
.vscode
